* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6bc04f;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBox {
  width: 30rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #fdfdfd;
  box-shadow: #2c2c2c 0 0 7px 0;
}

.input {
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: #f2f2f2;
  outline: none;
  border: none;
}

.submit {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  background-color: #228315;
  border: none;
  color: #f2f2f2;
  font-size: 1rem;
}

.noregister {
  margin-left: 1rem;
  color: #b4b4b4;
  cursor: pointer;
}

.textSignup {
  margin-left: 1rem;
  color: #6bc04f;
  cursor: pointer;
}

.textSignup:hover,
.noregister:hover {
  color: aqua;
}
